<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>themeName</key>
		<string>天海翼</string>
		<key>newsList</key>
		<array>
			<dict>
				<key>newsImageName</key>
				<string>00101.jpg</string>
				<key>title</key>
				<string>日本广岛县 1988年3月8日</string>
				<key>commentCount</key>
				<string>2032</string>
			</dict>
			<dict>
				<key>newsImageName</key>
				<string>00102.jpg</string>
				<key>title</key>
				<string>天海翼(天海つばさ；Amami Tsubasa)，1988年3月8日出生于日本广岛县，日本AV女优。所属idea pocket旗下公司[1]  。
2009年10月在‘FIRST IMPRESSION 44’idea pocket 首次出演。</string>
				<key>commentCount</key>
				<string>2334</string>
			</dict>
			<dict>
				<key>newsImageName</key>
				<string>00103.jpg</string>
				<key>title</key>
				<string>其实说得夸张一点，这个天海つばさ（天海翼）很有可能是年底最强力的新人：除了因为天海つばさ（天海翼）与相崎琴音一样曾经是个“コスプレアイドル”（角色扮演偶像，就是专门扮演动漫及电玩供大家拍照做活动的模特儿，类似show girl）外，更重要的是天海つばさ（天海翼）被赋予了“最高の美女”（最棒的美女）的美称。</string>
				<key>commentCount</key>
				<string>1231</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>themeName</key>
		<string>吉泽明步</string>
		<key>newsList</key>
		<array>
			<dict>
				<key>newsImageName</key>
				<string>00301.jpg</string>
				<key>title</key>
				<string>吉泽明步（Yoshizawa Akiho），1984年3月3日出生于日本东京。AV女优，艺人，写真模特，歌手，演员。前日本女子偶像组合惠比寿麝香葡萄的成员</string>
				<key>commentCount</key>
				<string>2411</string>
			</dict>
			<dict>
				<key>newsImageName</key>
				<string>00302.jpg</string>
				<key>title</key>
				<string>2003年出道。2007年，获得日本“The AV Grand Prix”的第一名。[1]  2012年在日本成人电影30周年纪念企划（av30年）人气投票中排名第三。2013年获得“日本成人放送大赏”最佳作品奖，继续巩固自己的业界地位。[2]  2014年4月获2014DMM成人赏的话题赏。</string>
				<key>commentCount</key>
				<string>24</string>
			</dict>
			<dict>
				<key>newsImageName</key>
				<string>00303.jpg</string>
				<key>title</key>
				<string>2015年1月27日，据台湾媒体报道，日本AV女优吉泽明步，24日来台举办粉丝见面会，为她最新推出的写真集《口欲》做宣传，吉泽明步以黑色上衣配同色超短裙出席，显得十分俏皮性感。吉泽24日出席廖人帅的潮牌服饰联名T恤发表活动，吸引大批男粉丝到场支持；廖人帅害羞地不敢与她对看，只敢在脸书写下：“只能在D盘才能看到的你，今天我们终于相见了。</string>
				<key>commentCount</key>
				<string>12321</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>themeName</key>
		<string>神咲诗织</string>
		<key>newsList</key>
		<array>
			<dict>
				<key>newsImageName</key>
				<string>00401.jpg</string>
				<key>title</key>
				<string>神咲诗织（かみさき しおり），1990年8月出生于东京，日本AV女优。</string>
				<key>commentCount</key>
				<string>12311</string>
			</dict>
			<dict>
				<key>newsImageName</key>
				<string>00402.jpg</string>
				<key>title</key>
				<string>2012年2月更与樱心美、Maika、藤浦惠、成瀬心美组成“me-me”的女子团体。</string>
				<key>commentCount</key>
				<string>123123</string>
			</dict>
			<dict>
				<key>newsImageName</key>
				<string>00403.jpg</string>
				<key>title</key>
				<string>神咲诗织的体态非常美好，超过160公分的身高以及G罩杯的上围，既不会太娇小，也兼顾了胸前的厚度。她的脸被认为与K.M.Produce的麻仓优有几分相似，应该是大多数影迷都能接受的类型。</string>
				<key>commentCount</key>
				<string>123412</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>themeName</key>
		<string>橘梨纱</string>
		<key>newsList</key>
		<array>
			<dict>
				<key>newsImageName</key>
				<string>00201.jpg</string>
				<key>title</key>
				<string>日本山梨县 1993年05月18日</string>
				<key>commentCount</key>
				<string>345</string>
			</dict>
			<dict>
				<key>newsImageName</key>
				<string>00202.jpg</string>
				<key>title</key>
				<string>橘梨纱（たちばなりさ） ，原名高松恵理。1993年5月18日生于日本山梨县，日本AV女优。隶属于SOD</string>
				<key>commentCount</key>
				<string>123</string>
			</dict>
			<dict>
				<key>newsImageName</key>
				<string>00203.jpg</string>
				<key>title</key>
				<string>橘梨纱曾是AKB48的第九期研究生，与岛崎遥香等队员一起活动，她形象朴素，作为传统美少女，备受粉丝期待，不过她在2010年的研究生选秀中不合格，因此选择退出AKB48，之后一直没在演艺圈活动。2013年2月7日，橘梨纱进军AV界。</string>
				<key>commentCount</key>
				<string>6453</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
